---
layout: default
---

<div class="front-bg">
    <div class="image-cover-wrap" style="position:absolute;">
        <!--<img class="front-image" src="/assets/images/codebg-blurred-trans.png">-->
        <img class="front-image" src="/assets/images/header_top.png">
    </div>
    <div class="layout-foreground">
        <header class="hero hero-home layout-single-column">
            <div class="align-middle layout-single-column layout-foreground layout-fill-height">
                <div class="align-block">
                    <h1 class="hero-title">Yet Another technical blog</b></h1>

                    <p class="hero-description hero-description-tagline">Computer geek</p>
                </div>
            </div>
        </header>
    </div>
</div>

<div class="container">
    <section class="row" style="max-width:1050px; margin: 0 auto;">
        <article class="col-md-6 col-lg-6 col-sm-6">

            <div class="post-list">

                {% for post in site.posts limit:20 %}
                <div class="row post-item">
                    <h3 class="post-item-title">
                        <a href="{{post.url}}">{{ post.title | truncatewords:30 }}</a>
                    </h3>

                    <p>
                        <!--{{ post.content | truncatewords:30 }}-->
                        {{ post.summary }}
                    </p>

                    <div class="post-item-meta">
                        <span><i class="glyphicon glyphicon-calendar"></i> {{ post.date | date: "%B %e, %Y" }} </span>
                        <span><i class="glyphicon glyphicon-comment"></i><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}"></a> </span>
                        <span> <i class="glyphicon glyphicon-tags"></i>&nbsp;
                            {% for tag in post.tags %}
                            <a href="/blog/tags/{{tag}}" class="btn btn-default tags" >{{tag}}</a>
                              &nbsp;
                           {% endfor %}
                        </span>
                    </div>
                    <div class="post-item-meta">
                         <span>Category : {{post.category}} </span>
                    </div>
                </div>
                {% endfor %}

                <hr/>
            </div>

        </article>


        <article class="col-md-6 col-lg-6 col-sm-6">
            <div style="margin-top: 30px; width: 380px" class="pull-right">
                <div class=""row><h3>Tag Cloud</h3></div>

                <div class="row tag-cloud">
                    {% for tag in site.tags %}
                      <span class="tag-cloud-{{ tag | last | size | times: 10 | divided_by: site.tags.size }}">
                        <a href="blog/tags/#{{ tag | first | slugize] }}">{{ tag | first }}</a>
                      </span>
                    {% endfor %}
                </div>

                <div class=""row><h3>Twitter</h3></div>
                <a class="twitter-timeline" href="https://twitter.com/saugereau33" data-widget-id="504637027644485633">Tweets
                    de @saugereau33</a>

                <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");</script>



            </div>

        </article>
    </section>
</div>

<!--
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.content | truncatewords:40}}
      </div>
        <p>
            <span class="glyphicon glyphicon-calendar"></span> {{ post.date | date: "%B %e, %Y" }}
            <a href="saugereau.github.com{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}" ><span class="glyphicon glyphicon-comment"></span></a>
            <span class="glyphicon glyphicon-tags"/> Tags :{% for tag in post.tags %} <a href="/tags/{{ tag }}" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="label label-info">{{ tag }}</span></a>  {% if forloop.last != true %} {% endif %} {% endfor %}
        </p>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
-->