<h2>Hello. I'm Sebastien</h2>
<p><img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/000/280/3c6/3db4d96.jpg" alt="Sebastien Augereau" title="Follow me on Twitter @saugereau33"  class="img-rounded floatLeft" />
I am a technical architect, java and scala coder, interested in a lot of technology </p>
<p><a href="https://twitter.com/saugereau33" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @erjjones</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/saugereau" rel="me" class="social github" title="Go to github.com/erjjones" target="_blank"></a></li>
	  <li><a href="http://fr.linkedin.com/pub/sebastien-augereau/46/ba5/98a" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/saugereau33" rel="me" class="social twitter" title="Go to twitter.com/saugereau33" target="_blank"></a></li>
	  <!--<li><a href="http://feeds.feedburner.com/github/xmyo" rel="me" class="social rss" title="Go to feedburner erjjones rss feed" target="_blank"></a></li>-->

	</ul>
</p>