<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://saugereau.github.com">A perfect day</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://saugereau.github.com"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://www.twitter.com/saugereau33" rel="tooltip" title="Go to twitter.com/saugereau33" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/saugereau" rel="tooltip" title="Go to github.com/saugereau" target="_blank">GitHub</a></li>
					<li class=""><a href="http://fr.linkedin.com/pub/sebastien-augereau/46/ba5/98a" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>
					<li class="divider"></li>
					<li class=""><a href="http://feeds.feedburner.com/github/xmyo" rel="tooltip" title="Go to feedburner" target="_blank">RSS</a></li>
				</ul>
			 </li>

		</ul>		
	  </div>
	</div>
  </div>
</div>