<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/bootstrap/css/sticky-footer-navbar.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />


      <!-- import of Source+Sans+Pro google font see also https://www.google.com/fonts/specimen/Source+Sans+Pro -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Source+Code+Pro:500|Lato:300|Nunito:700,300' rel='stylesheet' type='text/css'>

    <!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/articles.css" />-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/sidr/stylesheets/jquery.sidr.dark.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <script type="text/javascript" src="/assets/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/prettify.js"></script>

      <!--
      <script src="/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="/js/mustache.js" type="text/javascript" charset="utf-8"></script>
      <script src="/js/date.format.js" type="text/javascript" charset="utf-8"></script>
      <script src="/js/URI.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>
      -->
      <script type="text/javascript" src="/assets/js/search.min.js"></script>

      <script type="text/javascript">
          $(function() {
              $('#search-query').lunrSearch({
                  index:    '/search.json',
                  results:  '#search-results',
                  entries:  '.entries',
                  template: '#search-results-template'
              });
          });
      </script>
  </head>

  <body class="article tutorial">

  <div class="metabar">
      <div class="metabar-block pull-right">
          <div class="metabar-text">
              <a href="http://twitter.com/saugereau33" class="btn btn-default btn-transparent js-social-links" style="font-size:15px"><i class="fa fa-twitter"></i></a>
          </div>
      </div>
  </div>

  <div class="nav-button js-menu-button">
      <a id="sidebar-button" href="#sidr"><i class="fa fa-bars"></i></a>
  </div>

  <div id="sidr" style="display:none">
      <p class="profile">

        <span class="bio">
          Java architect, Developer, Blogger
        </span>



      </p>
      <p>
          {% if site.footer-links.dribbble %}<a href="http://dribbble.com/{{ site.footer-links.dribbble }}">{% include svg-icons/dribbble.html %}</a>{% endif %}
          {% if site.footer-links.email %}<a href="mailto: {{ site.footer-links.email }}">{% include svg-icons/email.html %}</a>{% endif %}
          {% if site.footer-links.facebook %}<a href="http://facebook.com/{{ site.footer-links.facebook }}">{% include svg-icons/facebook.html %}</a>{% endif %}
          {% if site.footer-links.flickr %}<a href="http://flickr.com/{{ site.footer-links.flickr }}">{% include svg-icons/flickr.html %}</a>{% endif %}
          {% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}">{% include svg-icons/github.html %}</a>{% endif %}
          {% if site.footer-links.instagram %}<a href="http://instagram.com/{{ site.footer-links.instagram }}">{% include svg-icons/instagram.html %}</a>{% endif %}
          {% if site.footer-links.linkedin %}<a href="http://linkedin.com/in/{{ site.footer-links.linkedin }}">{% include svg-icons/linkedin.html %}</a>{% endif %}
          {% if site.footer-links.pinterest %}<a href="http://pinterest.com/{{ site.footer-links.pinterest }}">{% include svg-icons/pinterest.html %}</a>{% endif %}
          {% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml">{% include svg-icons/rss.html %}</a>{% endif %}
          {% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}">{% include svg-icons/twitter.html %}</a>{% endif %}
          {% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">{% include svg-icons/stackoverflow.html %}</a>{% endif %}


      </p>

      <ul class="site-nav">
          <li>
              <a href="{{ site.baseurl }}">
                  <i class="glyphicon glyphicon-home"></i> Blog Home
              </a>
          </li>
          <li>
              <a href="/blog/tags">
                  <i class="glyphicon glyphicon-tags"></i> Tags
              </a>
          </li>
          <li>
              <a href="/about">
                  <i class="glyphicon glyphicon-user"></i> About me
              </a>
          </li>

      </ul>

  </div>


  <div class="js-click-region">
      {{ content }}
  </div>

  <script src="/assets/sidr/jquery.sidr.min.js"></script>
  <script>

      //add needed class in pre tag for prettyprint
      $("pre").each(function(){
          var el = $(this);
          if(el.hasClass("nohighlight") === false){
              el.addClass("prettyprint");
          }
      });

      $(function(){
          $('#sidebar-button').sidr();

          $('#sidebar-button').tooltip({
              title: "Click me",
              placement: 'right'
          });


          $('.js-click-region').click(function(){
              $('.toc').fadeIn();
              $.sidr('close');
          });


          $('#sidebar-button').click(function(){
              if($('.toc').is(':visible') === true){
                  $('.toc').fadeOut();
              }else{
                  $('.toc').fadeIn();
              }

              try {
                  ga('send', 'event', 'button', 'click', 'menu-button');
              } catch(err){}
          });

          $('.js-rss-btn').click(function(){
              try {
                  ga('send', 'event', 'button', 'click', 'rss-button');
              } catch(err){}
          });



      });
      prettyPrint();
  </script>

  {% include analytics.html %}
  {% include disqus_comment_count.html %}
  {% include footer.html %}
  </body>
</html>
